@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Arial, sans-serif;
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header--tablet-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .header--tablet-desktop {
    padding: 0 80px;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.header__logo--img {
  max-width: 120px;
  max-height: 20px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 25%;
  }
}
.header__nav--links {
  color: #E1E1E1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.header__nav--specific-link {
  font-size: 0.9rem;
  padding: 10px;
  text-decoration: none !important;
  color: #E1E1E1;
  flex-grow: 1;
  text-align: center;
  padding-bottom: 20px;
}
.header__nav--specific-link:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.header__nav--specific-link--bio {
  border-bottom: 3px solid #FFFFFF;
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
}
.header__hero {
  position: relative;
}
.header__hero--img {
  width: 100vw;
  height: 200px;
  z-index: 1;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header__hero--img {
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
}
.header__hero--text {
  color: #FFFFFF;
  z-index: 9;
  position: absolute;
  top: 70px;
  left: 16px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__hero--text {
    font-size: 3.5rem;
    padding-left: 36px;
    top: 150px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .header__hero--text {
    padding: 0 80px;
    font-size: 4.25rem;
  }
}
.header__hero--overlay {
  background-color: #323232;
  opacity: 50%;
  width: 100vw;
  height: 200px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header__hero--overlay {
    height: 70vh;
  }
}

.main {
  margin: 0;
  color: #323232;
}
.main__header {
  padding: 24px 16px 16px 16px;
  margin: 0;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .main__header {
    font-size: 2.75rem;
    padding: 48px 36px 0px 36px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .main__header {
    padding: 48px 80px 0 80px;
    max-width: 1020px;
  }
}
.main__header--subheader {
  margin: 0;
  padding: 0 16px;
  font-weight: 600;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .main__header--subheader {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__header--subheader {
    max-width: 1020px;
    margin: auto;
  }
}
.main__header--image {
  max-width: 90%;
  padding: 0px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .main__header--image {
    padding: 36px 56px;
    max-width: 85%;
  }
}
@media screen and (min-width: 1280px) {
  .main__header--image {
    max-width: 1020px;
    margin: auto;
  }
}
.main__header--image--desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header--quote {
  margin: 0;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .main__header--quote {
    padding: 8px 36px;
    font-size: 1.75rem;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .main__header--quote {
    padding: 0;
    font-size: 1.55rem;
    font-family: "Avenir Next Demi";
    max-width: 745px;
  }
}
@media screen and (min-width: 768px) {
  .main__header--quote--smaller {
    font-size: 18px;
    font-family: "Avenir Next Demi";
  }
}
.main__body {
  padding: 16px 16px;
  font-size: 0.85rem;
}
@media screen and (min-width: 768px) {
  .main__body {
    padding: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__body {
    padding: 36px 160px;
  }
}
@media screen and (min-width: 768px) {
  .main__body--copy {
    display: flex;
    font-size: 14px;
    max-width: 1020px;
    margin: auto;
    padding: 0;
  }
}
.main__body--title {
  margin: 0;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .main__body--title {
    padding: 0 36px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__body--title {
    font-size: 1.1rem;
  }
}
.main__body--title--bold {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .main__body--title--bold {
    padding: 0 36px;
    font-size: 24px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .main__body--title--bold {
    font-size: 2rem;
    font-family: "Avenir Next Demi";
    max-width: 1020px;
    margin: auto;
  }
}
.main__photo-gallery {
  background-color: #FAFAFA;
  padding: 0px 16px;
}
@media screen and (min-width: 768px) {
  .main__photo-gallery {
    padding: 48px 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .main__photo-gallery {
    padding: 48px 80px;
  }
}
.main__photo-gallery--text {
  margin: 0;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .main__photo-gallery--text {
    font-size: 2.5rem;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 768px) {
  .main__photo-gallery--tablet {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media screen and (min-width: 1280px) {
  .main__photo-gallery--tablet {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 24px;
    justify-content: center;
  }
}
.main__photo-gallery--image {
  max-width: 100%;
  padding-bottom: 16px;
  filter: grayscale(1);
}
.main__photo-gallery--image:hover {
  filter: unset;
}
.main__comments {
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .main__comments {
    padding: 0 36px;
    font-size: 1rem;
  }
}
.main__comments--header {
  font-family: "Avenir Next Demi";
  padding-top: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .main__comments--header {
    padding: 36px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__comments--header {
    font-size: 2.5rem;
    padding: 48px;
  }
}
.main__comments--image {
  background-image: url(../assets/Images/Mohan-muruge.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 70px;
}
@media screen and (min-width: 768px) {
  .main__comments--image {
    height: 48px;
    width: 48px;
    top: 12px;
    left: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .main__comments--image {
    height: 48px;
    width: 48px;
    top: 12px;
    left: 14px;
  }
}
.main__comments--form {
  margin-left: 48px;
}
@media screen and (min-width: 768px) {
  .main__comments--form {
    width: 460px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .main__comments--form {
    width: 560px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
.main__comments--form--box {
  position: relative;
}
@media screen and (min-width: 768px) {
  .main__comments--form--box {
    width: 600px;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .main__comments--form--box {
    width: 700px;
    margin: auto;
  }
}
.main__comments--form--text {
  font-family: "Avenir Next Demi";
  color: #afafaf;
  font-size: 0.7rem;
}
@media screen and (min-width: 1280px) {
  .main__comments--form--text {
    font-size: 1.1rem;
  }
}
.main__comments--form--placeholder {
  font-size: 0.75rem;
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid rgba(175, 175, 175, 0.5);
  margin-top: 8px;
  margin-bottom: 16px;
  outline: none;
}
@media screen and (min-width: 1280px) {
  .main__comments--form--placeholder {
    font-size: 1.1rem;
  }
}
.main__comments--form--placeholder--active {
  border: 1px solid #323232;
}
.main__comments--form--placeholder--error {
  border: 1px solid #D22D2D;
}
.main__comments--form--placeholder--comment {
  height: 80px;
}
.main__comments--form--button {
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 4px;
  border: 1px solid #323232;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .main__comments--form--button {
    width: 150px;
    padding: 0 32px;
    margin-top: 16px;
    margin-right: 24px;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .main__comments--form--button {
    margin-right: 0;
    align-self: flex-end;
  }
}
.main__comments--form--button:hover {
  background-color: #000000;
}
.main__comments__filled {
  border-top: 1px solid #E1E1E1;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main__comments__filled {
    width: 500px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .main__comments__filled {
    width: 600px;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .main__comments__filled--first {
    margin-top: 96px;
  }
}
.main__comments__filled--last {
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 1280px) {
  .main__comments__filled--last {
    margin-bottom: 48px;
  }
}
.main__comments__filled--text {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  height: 124px;
}
@media screen and (min-width: 1280px) {
  .main__comments__filled--text {
    font-size: 1.1rem;
  }
}
.main__comments__filled--text--name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main__comments__filled--text--name {
  font-family: "Avenir Next Demi";
  padding-top: 4px;
}
.main__comments__filled--text--date {
  color: #afafaf;
}
.main__comments__filled--image {
  background-color: #E1E1E1;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  position: absolute;
  top: 16px;
}

input, textarea {
  display: block;
  padding: 8px;
  width: 92%;
  resize: none;
  font-family: "Avenir Next Regular";
}
@media screen and (min-width: 768px) {
  input, textarea {
    width: 460px;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  input, textarea {
    width: 560px;
    margin: auto;
  }
}

p {
  margin: 8px;
}

::-moz-placeholder {
  color: #323232;
  opacity: 1;
}

::placeholder {
  color: #323232;
  opacity: 1;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 36px 80px;
  }
}
.footer__copy--title {
  margin: 0;
  padding: 24px 16px 16px 16px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__copy--title {
    padding: 48px 36px 36px 36px;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copy--title {
    padding: 0;
    margin-right: 48px;
  }
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: 15%;
    font-family: "Avenir Next Demi";
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer--tablet-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer__heading {
  padding-left: 16px;
  font-size: 0.85rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    font-family: "Avenir Next Demi";
    font-size: 0.9rem;
  }
}
.footer__information {
  padding-left: 16px;
}
.footer__information--copyright {
  font-size: 0.65rem;
  margin-bottom: 0;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__information--copyright {
    font-size: 0.9rem;
    padding: 0 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__information--copyright {
    font-size: 0.9rem;
    padding: 46px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer--contact-tablet-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px 36px 36px;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer--contact-tablet-desktop {
    max-width: 70%;
    padding: 0;
  }
}
.footer__image {
  max-width: 120px;
  max-height: 20px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__image {
    position: absolute;
    right: 36px;
    top: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__image {
    position: absolute;
    right: 80px;
    top: 48px;
  }
}/*# sourceMappingURL=bio.css.map */