@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Regular";
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header--tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 36px;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.header__logo--img {
  max-width: 120px;
  max-height: 20px;
}
.header__nav--links {
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 0 16px;
  margin: 0px 0px 16px 0px;
}
.header__nav--specific-link {
  font-size: 0.9rem;
}
.header__hero {
  position: relative;
}
.header__hero--img {
  width: 100vw;
  height: 200px;
  z-index: 1;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header__hero--img {
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
}
.header__hero--text {
  color: #FFFFFF;
  z-index: 9;
  position: absolute;
  top: 70px;
  left: 16px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__hero--text {
    font-size: 60px;
    padding-left: 36px;
    top: 150px;
    font-family: "Avenir Next Demi";
  }
}
.header__hero--overlay {
  background-color: #323232;
  opacity: 50%;
  width: 100vw;
  height: 200px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header__hero--overlay {
    height: 70vh;
  }
}

.main {
  margin: 0;
  color: #323232;
}
.main__header {
  padding: 24px 16px 16px 16px;
  margin: 0;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .main__header {
    font-size: 2.75rem;
    padding: 48px 36px 0px 36px;
    font-family: "Avenir Next Demi";
  }
}
.main__header--subheader {
  margin: 0;
  padding: 0 16px;
  font-weight: 600;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .main__header--subheader {
    padding: 0 36px;
  }
}
.main__header--image {
  max-width: 90%;
  padding: 0px 16px 16px 16px;
}
@media screen and (min-width: 768px) {
  .main__header--image {
    padding: 36px 56px;
    max-width: 85%;
  }
}
.main__header--quote {
  margin: 0;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .main__header--quote {
    padding: 8px 36px;
    font-size: 1.75rem;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 768px) {
  .main__header--quote--smaller {
    font-size: 18px;
    font-family: "Avenir Next Demi";
  }
}
.main__body {
  padding: 16px 16px;
  font-size: 0.85rem;
}
@media screen and (min-width: 768px) {
  .main__body {
    padding: 36px;
  }
}
@media screen and (min-width: 768px) {
  .main__body--copy {
    display: flex;
    font-size: 14px;
  }
}
.main__body--title {
  margin: 0;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .main__body--title {
    padding: 0 36px;
    font-size: 1rem;
  }
}
.main__body--title--bold {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .main__body--title--bold {
    padding: 0 36px;
    font-size: 24px;
    font-family: "Avenir Next Demi";
  }
}
.main__photo-gallery {
  background-color: #FAFAFA;
  padding: 0px 16px;
}
@media screen and (min-width: 768px) {
  .main__photo-gallery {
    padding: 48px 36px 36px 36px;
  }
}
.main__photo-gallery--text {
  margin: 0;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .main__photo-gallery--text {
    font-size: 2.5rem;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 768px) {
  .main__photo-gallery--tablet {
    -moz-column-count: 3;
         column-count: 3;
  }
}
.main__photo-gallery--image {
  max-width: 100%;
  padding-bottom: 16px;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.footer__copy--title {
  margin: 0;
  padding: 24px 16px 16px 16px;
  font-size: 1.5rem;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  padding-left: 16px;
}
.footer__heading {
  padding-left: 16px;
  font-size: 0.85rem;
  font-weight: 600;
}
.footer__information {
  padding-left: 16px;
}
.footer__information--copyright {
  font-size: 0.65rem;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.footer__image {
  max-width: 120px;
  max-height: 20px;
  padding-left: 16px;
}/*# sourceMappingURL=bio.css.map */