@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Regular";
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header--tablet-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 36px;
  }
}
@media screen and (min-width: 1280px) {
  .header--tablet-desktop {
    padding: 0 80px;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.header__logo--img {
  max-width: 120px;
  max-height: 20px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 25%;
  }
}
.header__nav--links {
  color: #E1E1E1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 0 16px;
  margin: 0px 0px 16px 0px;
}
.header__nav--specific-link {
  font-size: 0.9rem;
  padding: 10px;
  text-decoration: none;
  color: #E1E1E1;
}
.header__nav--specific-link:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}
.header__nav--specific-link--shows {
  border-bottom: 3px solid #FFFFFF;
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
}
.header__hero {
  position: relative;
}
.header__hero--img {
  width: 100vw;
  height: 200px;
  z-index: 1;
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header__hero--img {
    height: 70vh;
    background-size: cover;
    background-position: center;
  }
}
.header__hero--text {
  color: #FFFFFF;
  z-index: 9;
  position: absolute;
  top: 70px;
  left: 16px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .header__hero--text {
    font-size: 3.5rem;
    padding-left: 36px;
    top: 150px;
    font-family: "Avenir Next Demi";
  }
}
@media screen and (min-width: 1280px) {
  .header__hero--text {
    padding: 0 80px;
    font-size: 4.25rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 36px 80px;
  }
}
.footer__copy--title {
  margin: 0;
  padding: 24px 16px 16px 16px;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__copy--title {
    padding: 48px 36px 36px 36px;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copy--title {
    padding: 0;
    margin-right: 48px;
  }
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    width: 15%;
    font-family: "Avenir Next Demi";
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer--tablet-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer__heading {
  padding-left: 16px;
  font-size: 0.85rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .footer__heading {
    font-family: "Avenir Next Demi";
    font-size: 0.9rem;
  }
}
.footer__information {
  padding-left: 16px;
}
.footer__information--copyright {
  font-size: 0.65rem;
  margin-bottom: 0;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__information--copyright {
    font-size: 0.9rem;
    padding: 0 36px 36px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__information--copyright {
    font-size: 0.9rem;
    padding: 46px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer--contact-tablet-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px 36px 36px;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer--contact-tablet-desktop {
    max-width: 70%;
    padding: 0;
  }
}
.footer__image {
  max-width: 120px;
  max-height: 20px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__image {
    position: absolute;
    right: 36px;
    top: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__image {
    position: absolute;
    right: 80px;
    top: 48px;
  }
}/*# sourceMappingURL=shows.css.map */