@use 'partials/variables' as *;
@use 'partials/mixins' as *;

@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', Arial, sans-serif;
}

.header {
    background-color: $bandsite-black;

    &--tablet-desktop{
        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 36px;
        }

        @include desktop {
            padding: 0 80px;
        }

    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;

        &--img {
            max-width: 120px;
            max-height: 20px;

        }
    }

    &__nav {

        @include tablet {
            width: 25%;
        }

        &--links {
            color: $mercury;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            text-decoration: none;
            padding: 0;
            margin: 0;
        }

        &--specific-link {
            font-size: .9rem;
            padding: 10px;
            text-decoration: none;
            color:$mercury;
            flex-grow: 1;
            text-align: center;
            padding-bottom: 20px;

            &:hover {
                color: $white;
                border-bottom: 3px solid $white; 
            }

            &--shows {
                border-bottom: 3px solid $white;
                font-family: 'Avenir Next Bold';
                color: $white;
            }

    
        }
    }

    &__hero {
        position: relative;

        &--img {
            width: 100vw;
            height: 240px;
            z-index: 1;
            background-image: url(../assets/Images/hero-shows.jpg);
            background-size: cover;
            background-position: center;

            @include tablet {
                height:70vh;
            }

            @include desktop {
                height:80vh;
            }
        }

        &--album {
            color: $white;
            font-size: .8rem;
            z-index: 9;
            top: 6px;
            left: 16px;
            position: absolute;

            @include tablet {
                font-size: 1.25rem;
                top: 36px;
                left: 36px;
            }

            @include desktop {
                font-size: 1.5rem;
                left: 77px;
                top: 180px;
            }
        }

        &--text {
            color: $white;
            z-index: 9;
            position: absolute;
            top: 26px;
            left: 16px;
            font-size: 24px;
            font-family: 'Avenir Next Demi';
            max-width: 240px;

            @include tablet {
                font-size: 3.5rem;
                left: 36px;
                top: 36px;
                font-family: 'Avenir Next Demi';
                max-width: 500px;
            }

            @include desktop {
                padding: 0 36px;
                font-size: 4.5rem;
                max-width: 600px;
                top: 174px;
            }
        }

        &--overlay {
            background-color: $bandsite-black;
            opacity: 50%;
            width: 100vw;
            height: 240px;
            position: absolute;

            @include tablet {
                height: 70vh;
            }

            @include desktop {
                height:80vh;
            }
        }

        &--soundcloud {
            position: absolute;
            top: 118px;
            left: 16px;
            width: 280px;
            height: 100px;


            @include tablet {
                top: 255px;
                left: 36px;
                width: 50%;
                height: 150px;
            }

            @include desktop {
                top: 255px;
                left: 700px;
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 766px) {
    .headings {
        display: none;
    
        &-parent {
            display: none;
        }
    
        &-non-mobile {
            display: none;
        }
        
    }  
}


@include tablet {
    .headings {

        &-parent {
            display: flex;
            justify-content: space-between;
            padding-left: 18px;
            width: 55vw;
        }
    
        &-non-mobile {
            font-size: .85rem;
            color: $mercury;
            font-family: 'Avenir Next Demi';
        }
        
    }
}

@include desktop {
    .headings {
        position: relative;

        &-js {
            position: relative;
        }

        &-parent {
            display: flex;
            justify-content: space-between;
            margin: 56px 32px 32px 400px;
            width: 40%;
            position: absolute;
            left: 70px
        }
    
        &-non-mobile {
            font-size: 1.1rem;
            color: $mercury;
            font-family: 'Avenir Next Demi';
        }
        
    }
}

main {
    @include desktop {
        position: relative;
        height: 650px;
    }
}


.shows {
    padding: 16px;
    margin: 0;
    font-family: 'Avenir Next Demi';
    font-size: 1.75rem;

    &-js {
        @include desktop {
            position: absolute;
            right: 80px;
            top: 75px;
            
        }
    }

    &__title {
        padding: 16px;

        @include tablet {
            padding: 18px;
            font-family: 'Avenir Next Demi';
            font-size: 2rem;
        }

        @include desktop {
            position: absolute;
            left: 150px;
        }
    }

    &__total {
        padding: 16px;
        padding-top: 0px;
        border-bottom: 1px solid $mercury;
        position: relative;

        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 24px 18px;
        }

        @include desktop {
            width: 60vw;
        }


        &--clicked {
            background-color: $mercury;
        }

        &:hover {
            background-color: $alabaster;
        }

        
        &--title {
            font-size: .85rem;
            color: $mercury;
            font-family: 'Avenir Next Demi';

            @include tablet {
                display: none;
            }

            @include desktop {
                display: none;
            }
        }

        &--date {
            font-size: .85rem;
            font-family: 'Avenir Next Demi';

            @include tablet {
                width: 124px;
            }
        }

        &--venue {
            font-size: .85rem;

            @include tablet {
                width: 124px;
            }
        }

        &--location {
            font-size: .85rem;

            @include tablet {
                width: 124px;
            }
        }

        &--button {
            background-color: $bandsite-black;
            color: $white;
            border-radius: 4px;
            border: 1px solid $bandsite-black;
            width: 100%;
            height: 40px;
            font-family: 'Avenir Next Demi';
            font-size: 1rem;

            @include tablet {
                width: 150px;
                padding: 0 32px;
                font-size: .85rem;
            }

            &:hover {
                background-color: $bandsite-darkblack;
            }
        }
    }

}



.footer {
    background-color: $bandsite-black;
    color: $white;
    margin: 0;
    margin-top: 16px;
    font-size: .8rem;
    font-weight: 400;
    position: relative;

    @include desktop {
        padding: 36px 80px;
    }

    &__copy--title {
        margin: 0;
        padding: 24px 16px 16px 16px;
        font-size: 1.5rem;

        @include tablet {
            padding: 48px 36px 36px 36px;
            font-size: 2.5rem;
        }

        @include desktop {
            padding: 0;
            margin-right: 48px;
        }
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        max-width: 130px;
        padding-left: 16px;

        @include tablet {
            width: 15%;
            font-family: 'Avenir Next Demi';
            padding: 0;
        }
    }

    &--tablet-desktop {
        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }

    &__heading {
        padding-left: 16px;
        font-size: .85rem;
        font-weight: 600;

        @include tablet {
            font-family: 'Avenir Next Demi';
            font-size: .9rem;
        }
    }

    &__information {
        padding-left: 16px;

        &--copyright {
            font-size: .65rem;
            margin-bottom: 0;
            padding-bottom: 16px;

            @include tablet {
                font-size: .9rem;
                padding: 0 36px 36px 36px;
            }

            @include desktop {
                font-size: .9rem;
                padding: 46px 0;
            }
        }
    }

    &--contact-tablet-desktop {
        @include tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 36px 36px 36px;
            font-size: .9rem;
        }

        @include desktop {
            max-width: 70%;
            padding: 0;

        }
    }

    &__image {
        max-width: 120px;
        max-height: 20px;
        padding-left: 16px;

        @include tablet {
            position: absolute;
            right: 36px;
            top: 48px;
        }

        @include desktop {
            position: absolute;
            right: 80px;
            top: 48px;
        }
    }

}